@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
}

@layer base {
    h1 {
        @apply text-gray-700 text-4xl font-bold;
    }

    h2 {
        @apply text-gray-700 text-3xl font-bold;
    }

    h3 {
        @apply text-gray-700 text-2xl font-semibold;
    }

    h4 {
        @apply text-gray-700 text-xl font-semibold;
    }

    h5 {
        @apply text-gray-700 text-lg font-medium;
    }

    h6 {
        @apply text-gray-700 text-base font-medium;
    }
}